.orderForm{
    border:2px solid grey;
}
.formHeading{
    background: rgb(92,184,92);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 100px;
    line-height: 100px;
}
.info{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid rgb(207, 204, 204);
    height: 50px;
    line-height: 25px;
}
.submit{
    text-align: center;
}
.myBtn{
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 5px 150px 5px 150px;
}
.mySelect{
    width: 200px;
}