.formHeading{
    color: rgb(112, 112, 112);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 100px;
    line-height: 100px;
}
.submit{
    text-align: center;
}
.myBtn{
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 5px 100px 5px 100px;
    background: rgb(74, 76, 91);
    color:white;
    border-radius: 5px;
}
.myOrder{
    background: rgb(243, 243, 243);
}

.form-control{
    -webkit-appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255,1);
}
