<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,minimum-scale-1,user-scalable=no" >
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link rel="stylesheet" href="resources/font/iconfont.css">
    <link rel="stylesheet" href="resources/css/receiverCss.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRSBDtrWOZ6cCOoPsnEhdmLihKVGXi2s"></script>
    <script src="resources/js/jquery-3.2.1.min.js"></script>
    <script src="resources/js/popper.min.js"></script>
    <script src="resources/js/bootstrap.js"></script>
    <script src="resources/js/testjs.js"></script>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/angular-route.min.js"></script>
    <script src="resources/js/angular-animate.min.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/controllers.js"></script>
    <script src="resources/js/service.js"></script>
    <title>Title</title>
</head>
<body>
<!--<div>-->
<!--<header class="border-bottom  header-css text-center">-->
<!--<span class=" btnn" data-toggle="modal" data-target="#myModal" role="button"><i class="iconfont icon-Shapecopy1"></i></span>-->
<!--<span class="title-css">-->
<!--历史订单-->
<!--</span>-->
<!--</header>-->
<!--<div class="modal fade" tabindex="-1" role="dialog" id="myModal">-->
<!--<div class="modal-dialog smal" role="document">-->
<!--<div class="modal-content smal">-->
<!--<div class="modal-header text-lg-center">-->
<!--<p class="modal-title"><i class="iconfont icon-shenfenzheng"></i></p>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<ul class="list-group list-group-flush">-->
<!--<li class="list-group-item"><a href="receiver.html"><i class="iconfont icon-flag"></i>即时订单</a></li>-->
<!--<li class="list-group-item"><a href="historyList.html"><i class="iconfont icon-document"></i>历史订单</a></li>-->
<!--<li class="list-group-item"><a href="historyList.html"><i class="iconfont icon-xingming"></i>个人信息</a></li>-->
<!--<li class="list-group-item"><a href="historyList.html"><i class="iconfont icon-xinyongpingjia"></i>信用评价</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<div class="container" ng-controller="historyCtrl">-->
<!--<p>-->
<!--<a class="btn btn-dark btn-css" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">-->
<!--昨天-->
<!--</a>-->
<!--</p>-->
<!--<div class="collapse" id="collapse1">-->
<!--<ul class="list-group">-->
<!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start " ng-repeat="order in yesterdayHistoryList">-->
<!--<div class="d-flex w-100 justify-content-between">-->
<!--<h5>{{order.address}}</h5>-->
<!--<small>{{order.time}}</small>-->
<!--</div>-->
<!--<div>-->
<!--<span>质量：{{order.weight}}</span>-->
<!--<small class="{{order.color}} order-small">{{order.type}}</small>-->
<!--</div>-->
<!--</a>-->
<!--</ul>-->
<!--</div>-->
<!--<p>-->
<!--<a class="btn btn-dark btn-css" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">-->
<!--前天-->
<!--</a>-->
<!--</p>-->
<!--<div class="collapse" id="collapse2">-->
<!--<ul class="list-group">-->
<!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start " ng-repeat="order in dayByYesterdayHistoryList">-->
<!--<div class="d-flex w-100 justify-content-between">-->
<!--<h5>{{order.address}}</h5>-->
<!--<small>{{order.time}}</small>-->
<!--</div>-->
<!--<div>-->
<!--<span>质量：{{order.weight}}</span>-->
<!--<small class="{{order.color}} order-small">{{order.type}}</small>-->
<!--</div>-->
<!--</a>-->
<!--</ul>-->
<!--</div>-->
<!--<p>-->
<!--<a class="btn btn-dark btn-css" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">-->
<!--更久之前-->
<!--</a>-->
<!--</p>-->
<!--<div class="collapse" id="collapse3">-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item">Cras justo odio</li>-->
<!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--<li class="list-group-item">Morbi leo risus</li>-->
<!--<li class="list-group-item">Porta ac consectetur ac</li>-->
<!--<li class="list-group-item">Vestibulum at eros</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
</body>
</html>