<!DOCTYPE html>
<html ng-app="receiverApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,minimum-scale-1,user-scalable=no" >
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link rel="stylesheet" href="resources/font/iconfont.css">
    <link rel="stylesheet" href="resources/css/receiverCss.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRSBDtrWOZ6cCOoPsnEhdmLihKVGXi2s"></script>
    <script src="resources/js/jquery-3.2.1.min.js"></script>
    <script src="resources/js/popper.min.js"></script>
    <script src="resources/js/bootstrap.js"></script>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/angular-route.min.js"></script>
    <script src="resources/js/angular-animate.min.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/controllers.js"></script>
    <script src="resources/js/service.js"></script>
    <script src="resources/js/receiverJs.js"></script>
    <title>回收员</title>
</head>
<body ng-controller="ready">
    <div>
        <header class="border-bottom  header-css text-center">
            <span class=" btnn " data-toggle="modal" data-target="#myModal" role="button"><i class="iconfont icon-Shapecopy1"></i></span>
                <span class="title-css">
                    回收员回收
                </span>
        </header>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog smal" role="document">
            <div class="modal-content smal">
                <div class="modal-header">
                    <p class="modal-title"><i class="iconfont icon-shenfenzheng text-lg-center"></i></p>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush text-dark">
                        <li class="list-group-item "><a href="receiver.html"><i class="iconfont icon-flag"></i>即时订单</a></li>
                        <li class="list-group-item "><a href="historyList.html"><i class="iconfont icon-document"></i>历史订单</a></li>
                        <li class="list-group-item "><a href="personalMsg.html"><i class="iconfont icon-xingming"></i>个人信息</a></li>
                        <li class="list-group-item "><a href="creditFoot.html"><i class="iconfont icon-xinyongpingjia"></i>信用足迹</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"style="width: 100%" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div id="allmap">
    </div>
    <div id="prompt" class="text-center">
        <p>您有<span class="text-red" ng-bind="unReceive"></span>单未接,<span class="text-info" ng-bind="unCheck"></span>单未回收</p>
    </div>
    <div ng-view="" class="top-order">
    </div>
    <div id="list" class="text-center">
        <span data-toggle="modal" data-target="#listModal"><i class="iconfont icon-Shapecopy1"></i></span>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="listModal">
        <div class="modal-dialog smallist" role="document">
            <div class="modal-content smallist">
                <div class="modal-body " style="overflow: scroll">
                    <button class="btn btn-sm btn-success btn-change" ng-click="changeTypeOrder()">全部</button><button class="btn btn-sm btn-info btn-change" ng-click="changeTypeReceived()">已接单</button>
                    <button class="btn btn-sm btn-danger btn-change" ng-click="changeTypeWait()">未接单</button><button class="btn btn-sm btn-secondary btn-change" ng-click="changeTypeCancel()">待取消</button>
                    <ul class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start " ng-repeat="order in listType">
                            <div class="d-flex w-100 justify-content-between">
                                <h5>{{order.address}}</h5>
                                <small>{{order.time}}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                            <p>质量：{{order.weight}}</p>
                            <small class="{{order.color}}">{{order.type}}</small>
                            </div>
                        </a>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="width: 100%" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div id="refresh" class="text-center">
       <i class="iconfont icon-tubiao01" ng-click="refresh()"></i>
    </div>
    <footer class="border footer-css text-center">
        <p href="#" >查看并同意<span class="text-red">《回收员合作协议》</span></p>
    </footer>
</body>
</html>
